<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="blocks/head.html :: head"></head>
<body>
<head th:replace="blocks/header.html :: header"></head>

<div class="container-fluid">
    <div class="row">
        <div class="col bg-white px-0">
            <head th:replace="blocks/sidebar.html :: sidebar"></head>
        </div>
        <div class="col-10 vh-100 bg-light">
            <div class="tab-content">
                <!-- Навигационная панель Admin -->
                <div class="tab-pane fade show active" id="nav-admin" role="tabpanel">
                    <nav>
                        <h1 class="ps-3"> Admin panel</h1>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#tableForm" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true">User table
                            </button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#newUser"
                                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New User
                            </button>
                        </div>
                    </nav>
                    <div>
                        <div class="tab-content">
                            <!-- Навигационная вкладка admin -->
                            <div class="tab-pane fade show active" id="tableForm" role="tabpanel"
                                 aria-labelledby="nav-profile-tab"
                                 tabindex="0">
                                <div class="container-fluid">
                                    <div class="row border">
                                        <h5 class="p-2">All users</h5>
                                    </div>
                                    <div class="row border bg-white">
                                        <table class="table table-borderless table-striped">
                                            <thead>
                                            <tr class="border-top">
                                                <th scope="col">Id</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tableAllUsers">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Навигационная вкладка New User -->
                            <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="nav-profile-tab"
                                 tabindex="0">
                                <div class="container-fluid">
                                    <div class="p-2">
                                        <h5>Add new user</h5>
                                    </div>
                                    <div class="row justify-content-center align-items-center bg-white">
                                        <div class="col-4">
                                            <form id="newUserForm" class="text-center">
                                                <div class="form-group fw-bold">
                                                    <div class="form-group m-3">
                                                        <div class="form-group m-3">
                                                            <label for="firstnameNew" class="col-form-label">First
                                                                name</label>
                                                            <input type="text" class="form-control" id="firstnameNew"
                                                                   name="firstname" required/>
                                                        </div>
                                                        <div class="form-group m-3">
                                                            <label for="lastnameNew" class="col-form-label">Last
                                                                name</label>
                                                            <input type="text" class="form-control" id="lastnameNew"
                                                                   name="lastname" required/>
                                                        </div>
                                                        <div class="form-group m-3">
                                                            <label for="ageNew" class="col-form-label">Age</label>
                                                            <input type="number" class="form-control" id="ageNew"
                                                                   name="age" required/>
                                                        </div>
                                                        <div class="form-group m-3">
                                                            <label for="emailNew" class="col-form-label">Email</label>
                                                            <input type="email" class="form-control" id="emailNew"
                                                                   name="email" required/>
                                                        </div>
                                                        <div class="form-group m-3">
                                                            <label for="passwordNew"
                                                                   class="col-form-label">Password</label>
                                                            <input type="password" class="form-control" id="passwordNew"
                                                                   name="password" required/>
                                                        </div>
                                                        <div class="form-group m-3" readonly="readonly">
                                                            <label for="roleNew">Role</label>
                                                            <select class="form-select w-100 "
                                                                    size="2" id="roleNew" name="role" required>
                                                                <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                                                <option value="ROLE_USER">ROLE_USER</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" id="createUser" class="btn btn-success">Add new
                                                    user
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Навигационная панель User -->
                <div class="tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <head th:replace="blocks/user.html :: user"></head>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно edit -->

<!-- Модальное окно delete -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="model-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<head th:replace="blocks/footer.html :: footer"></head>
</body>
</html>