<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="blocks/head.html :: head"></head>
<body>
<head th:replace="blocks/header.html :: header"></head>
<div class="container-fluid">
    <div class="row">
        <div class="col bg-white px-0">
            <head th:replace="blocks/sidebar.html :: sidebar"></head>
        </div>
        <div class="col-10 vh-100 bg-light">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel"
                     aria-labelledby="v-pills-user-tab">
                    <head th:replace="blocks/user.html :: user"></head>
                </div>
            </div>
        </div>
    </div>
</div>
<head th:replace="blocks/footer.html :: footer"></head>
</body>
</html>